@font-face {
    font-family: quickSandBold;
    src: url(/Quicksand-Bold.ttf);
  }

  @font-face {
    font-family: quickSandNormal;
    src: url(/Quicksand-Regular.ttf);
  }

body {margin: 0px; padding: 0px;font-family: quickSandBold;}

.warning {display: none;width: 100%; text-align: center;}

.warning > button {border: none; background-color: white; border: solid 2px black;font-family: quickSandBold;padding: 4px; border-radius:20px;padding-left: 2px; padding-right: 2px; ;}

.warning > button:hover {background-color: black; color: white; ;}

/*-----------------------------------------------------------------------Navigation---------------------------------------------------------------------*/

.logo-container {margin: auto; width: 412px;margin-top: 0px;}

.left {float: left;margin-top: 15px;margin-left: 20px;;}
.right
 {float: right;margin-top: -110px;margin-right: 20px;;}

/*------------------------------------------------------------------------Buttons-----------------------------------------------------------------------*/

.buttons > button {color: #6E6E6E;font-family: quickSandBold;border: none; background-color: transparent; height: 69px;font-size: 20px;padding-left: 15px; padding-right: 15px;border-radius: 50px;transition: 0.2s ease;}

.buttons > button:focus {outline: none; border: solid; ;}

.buttons > button:hover {background-color: rgb(233, 233, 233);}

button:hover {cursor: pointer;}

/*----------------------------------------------------------------------Navigation---------------------------------------------------------------------*/

#paragraph {display: none;}

#paragraph:target {display: block;}

#image {display: none;}

#image:target {display: block;;}

#links {display: none;}

#links:target {display: block;}

/*--------------------------------------------------------------------Main Navigation--------------------------------------------------------------------*/



.item-container {margin: auto; width: 714px;margin-top: 15vh;}

.item-container > img:hover {cursor: text;}

.item-container > h5 {font-size: 41px;color: #6E6E6E;text-align: center;}

.item-container > h1 {font-size: 141px;color: #ADADAD;text-align: center;margin-top: -90px;margin-bottom: 0px;}

.item-container > img {border-top: solid 3px lightgray;padding-top: 20px;;}

.bottom-navigation > a > button {font-size: 20px;padding:10px;background-color: transparent; border: none;border-radius: 50px;font-family: quickSandBold;transition: 0.2s ease;;}

.bottom-navigation > a > button:focus {outline:none; border: solid 3px #707070;color: #707070;}

.bottom-navigation > a > button:hover {outline:none; border: solid 3px #707070;color: #707070;margin-bottom: -2px;margin-left: 0px;;}

.bottom-navigation {margin: auto; width: 420px;;}

.bottom-nav-wrapper {position: fixed; bottom: 15px; width: 100%;;}

.cover {margin-top: -350px;background-color: white;position: relative; z-index: 150;}