@font-face {
    font-family: quickSandBold;
    src: url(/Quicksand-Bold.ttf);
  }

  @font-face {
    font-family: quickSandNormal;
    src: url(/Quicksand-Regular.ttf);
  }

body {margin: 0px; padding: 0px;font-family: quickSandBold;}

.warning {display: none;width: 100%; text-align: center;position: fixed; bottom: 100px; z-index: 500;}

.warning > button {border: none; background-color: white; border: solid 2px black;font-family: quickSandBold;padding: 4px; border-radius:20px;padding-left: 2px; padding-right: 2px; ;}

.warning > button:hover {background-color: black; color: white; ;}

nav {position: fixed; top: 0px; left: 0px; z-index: 500; width: 100%;;background-color: white;border-bottom: solid 2px lightgray;}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/*-----------------------------------------------------------------------Navigation---------------------------------------------------------------------*/

.logo-container {margin: auto; width: 412px;margin-top: 0px;}

.left {float: left;margin-top: 25px;margin-left: 20px;;}
.right
 {float: right;margin-top: -100px;margin-right: 20px;;}

/*------------------------------------------------------------------------Buttons-----------------------------------------------------------------------*/

.buttons > button {color: #6E6E6E;font-family: quickSandBold;border: none; background-color: transparent; height: 69px;font-size: 20px;padding-left: 15px; padding-right: 15px;border-radius: 50px;transition: 0.2s ease;}

.buttons > button:focus {outline: none; border: solid; ;}

.buttons > button:hover {background-color: rgb(233, 233, 233);}

button:hover {cursor: pointer;}

/*----------------------------------------------------------------------Navigation---------------------------------------------------------------------*/

#paragraph {display: none;}

#paragraph:target {display: block;}

#image {display: none;}

#image:target {display: block;;}

#links {display: none;}

#links:target {display: block;}

/*--------------------------------------------------------------------Main Navigation--------------------------------------------------------------------*/

.view-container {margin-bottom: 300px;padding-top: 150px;;}

.item-container {margin: auto; width: 714px;margin-top: 15vh;padding-top: 20vh;;}

.item-container > img:hover {cursor: text;}

.item-container > h5 {font-size: 41px;color: #6E6E6E;text-align: center; font-family: quickSandBold;}

.item-container > h1 {font-size: 141px;color: #ADADAD;text-align: center;margin-bottom: 0px; font-family: quickSandBold;margin-top: -90px;margin-bottom: 0px;}

.item-container > img {border-top: solid 3px lightgray;padding-top: 20px;;}

.bottom-navigation > a > button {font-size: 20px;padding:10px;background-color: transparent; border: none;border-radius: 50px;font-family: quickSandBold;transition: 0.2s ease;border: solid 3px white;}

.bottom-navigation > a > button:focus {outline:none; border: solid 3px #707070;color: #707070;;}

.bottom-navigation > a > button:hover {outline:none; border: solid 3px #707070;color: #707070;margin-bottom: -2px;margin-left: 0px;}

.bottom-navigation {margin: auto; width: 420px;;}

.bottom-nav-wrapper {position: fixed; bottom: 0px; width: 100%;z-index: 500;left: 0px;padding-top: 15px;padding-bottom: 15px; background-color: white;border-top: solid 2px lightgray;}

.cover {margin-top: -350px;background-color: white;position: relative; z-index: 150;border-radius: 20px;;}

/*---------------------------------------------------------------Footer--------------------------------------------------------------------------------*/

footer > a {position: absolute; right:5px; bottom: 5px;color: black;}


/*--------------------------------------------------------------QR Code--------------------------------------------------------*/

.qr-code-container > img {width: 400px; }

.qr-code-container {margin: auto; width: 400px;margin-top: 15vh}

.qr-button {width: 30px;position: fixed; bottom: 25px;left: 25px;transition: 0.15s ease; }

.qr-button:hover {cursor: pointer; width: 36px; }

#qr {display: none}

.qr {display: none}